/* Common css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #33475B;
}

nav{
    height: 80px;
}

a{
    text-decoration: none;
    color: #32495B;
}

h1{
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 40px;
}

h2{
    font-size: 1.75rem;
    margin-bottom: 40px;
}

h3{
    font-size: 1.3rem;
    margin-bottom: 35px;
}

h4{
    font-size: 0.95rem;
    margin-bottom: 40px;
}

p{
    line-height: 1.5rem;
}

/* Utility css */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 1080px;
    margin: auto;
}

.container_small{
    width: 48%;
    margin: auto;
}

.col_2{
    float: left;
    width: 50%;
}

.col_2_30{
    float: left;
    width: 35%;
}

.col_2_70{
    float: left;
    width: 65%;
}

.text_dx{
    text-align: right;
}

.text_ctr{
    text-align: center;
}

.text_lx{
    text-align: left;
}

.lh_80{
    line-height: 80px;
}

.bg_lightblue{
    background-color: #F4F9FD;
}

.bg_white{
    background-color: white;
}

.bg_orange{
    background-color: #FE775A;
}

.btn{
    padding: 10px 8px;
}

.btn_big{
    padding: 20px 40px ;
}

.btn_outline{
    border: 1px solid #FE775A;
    border-radius: 5px;
    color: #FE775A;
}

.btn_solid{
    border-radius: 5px;
    background-color: #FE775A;
    color: white;
}

.mt_70{
    margin-top: 70px;
}

.ml_10{
    margin-left: 10px;
}

.ml_20{
    margin-left: 20px;
}

.mr_10{
    margin-right: 10px;
}

.mr_20{
    margin-right: 20px;
}

/***********************************
* Site Header css 
************************************/

/* Menu top css */
header .bg_lightblue{
    border-bottom: 1px solid #32495B;
}

.menu_top i{
    height: 15px;
}

.menu_top img{
    height: 15px;
}

.menu_top > div:first-child a:last-child{
    border-left: 2px solid #899397;
    padding-left: 20px;
    margin-left: 20px;
}

.menu_top > div:last-child a{
    margin-left: 20px;
}

/* Menu principale css */
.logo_header{
    vertical-align: middle;
}

/* jumbotron */
.jumbotron{
    width: 100%;
    height: 600px;
    background-color: #FFF4EF;
    background-image: url('../img/jumbotron.png');
    background-position: 100% 10%;
    background-repeat: no-repeat;
}

.jumbotron .container{
    position: relative;
}

.text_jumbotron{
    width: 500px;
    position: absolute;
    top: 70px;
}

.jumbotron p{
    margin-bottom: 50px;
}

.text_jumbotron p:last-child{
    font-size: 11px;
    margin-top: 50px;
}

/* Banner css */
header .banner{
    height: 80px;
    background-color: #AFEBE4;
    border-top: 3px  solid #33475B;
    border-bottom: 3px  solid #33475B;
}

/***********************************
* Site Main css 
************************************/

/* Products section css */
#services_section .cube{
    height: 200px;
    margin-top: 50px;
}

#services_section .row{
    position: relative;
    height: 340px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

#services_section .box_middle{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 #services_section .title{
     width: 730px;
     margin: auto;
 }

 #services_section .row img{
     height: 100px;
     margin-bottom: 50px;
 }

 #services_section .col_2_70 p{
     width: 550px;
     margin-bottom: 30px;
 }

 #services_section h4{
     text-transform: uppercase;
 }

 #services_section h4::after{
     content: "";
     width: 400px;
     height: 2px;
     background-color: #899397;
     display: inline-block;
     vertical-align: middle;
     margin-left: 50px;
 }

 #services_section i{
     color: #FE775A;
 }



/***********************************
* Site Footer css 
************************************/