/* Common css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #32495B;
}

nav{
    height: 80px;
}

a{
    text-decoration: none;
    color: #32495B;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

h2{
    font-size: 1.65rem;
    margin-bottom: 40px;
}

p{
    line-height: 1.5rem;
}

/* Utility css */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
}

.container_small{
    width: 48%;
    margin: auto;
}

.col_2{
    float: left;
    width: 50%;
}

.text_dx{
    text-align: right;
}

.text_ctr{
    text-align: center;
}

.lh_80{
    line-height: 80px;
}

.bg_lightblue{
    background-color: #F4F9FD;
}

.btn{
    padding: 10px 8px;
}

.btn_big{
    padding: 20px 40px ;
}

.btn_outline{
    border: 1px solid #FE775A;
    border-radius: 5px;
    color: #FE775A;
}

.btn_solid{
    border-radius: 5px;
    background-color: #FE775A;
    color: white;
}

.ml_10{
    margin-left: 10px;
}

.ml_20{
    margin-left: 20px;
}

/***********************************
* Site Header css 
************************************/

/* Menu top css */
header .bg_lightblue{
    border-bottom: 1px solid #32495B;
}

.menu_top i{
    height: 15px;
}

.menu_top img{
    height: 15px;
}

.menu_top > div:first-child a:last-child{
    border-left: 2px solid #899397;
    padding-left: 20px;
    margin-left: 20px;
}

.menu_top > div:last-child a{
    margin-left: 20px;
}

/* Menu principale css */
.logo_header{
    vertical-align: middle;
}

/* jumbotron */
.jumbotron{
    width: 100%;
    height: 600px;
    background-color: #FFF4EF;
    background-image: url('../img/jumbotron.png');
    background-position: 100% 10%;
    background-repeat: no-repeat;
}

.jumbotron .container{
    position: relative;
}

.text_jumbotron{
    width: 500px;
    position: absolute;
    top: 70px;
}

.jumbotron p{
    margin-bottom: 50px;
}

.text_jumbotron p:last-child{
    font-size: 10px;
    margin-top: 50px;
}

/* Banner css */
header .banner{
    height: 80px;
    background-color: #AFEBE4;
    border-top: 3px  solid #33475B;
    border-bottom: 3px  solid #33475B;
}

/***********************************
* Site Main css 
************************************/
 #products_section .cube{
     height: 200px;
     margin-top: 50px;
 }

 #products_section .title{
     width: 760px;
     margin: auto;
 }



/***********************************
* Site Footer css 
************************************/